// filepath: /root/Thrillcrazyer.github.io/_layouts/people.liquid
---
layout: default
---
<div class="people">
  {% assign authors = site.data.authors %}
  {% for author in authors %}
    <div class="author">
      <h2 class="author-name">{{ author.name }}</h2>
      <p class="author-affiliation">{{ author.affiliation }}</p>

      <div class="publications">
        {% assign author_papers = site.bibliography | where: "author", author.name %}
        {% if author_papers.size > 0 %}
          <h3>Publications</h3>
          <ul>
            {% for paper in author_papers %}
              <li>
                <div class="publication-title">
                  <a href="{{ paper.url }}">{{ paper.title }}</a>
                </div>
                <div class="publication-details">
                  <span class="publication-journal">{{ paper.journal }}</span>,
                  <span class="publication-year">{{ paper.year }}</span>
                  {% if paper.volume %}
                    , <span class="publication-volume">{{ paper.volume }}</span>
                  {% endif %}
                  {% if paper.pages %}
                    , <span class="publication-pages">{{ paper.pages }}</span>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No publications found for this author.</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>